# Ignore Python cache files
__pycache__/
*.pyc

# Environment files
.env
*.env

# Logs
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Folders to ignore
anaconda_projects/
public_images/
fnd/
allData_images/
reference_images/
reference_images_from_title/
wandb/
notebooks/
embeddings/
reference_text/
reference_title/
best_models/
media_eval_test_imgs/
media_eval_train_imgs/
media_eval_reference_images/
media_eval_reference_test_images/
all_data_reference_images/
all_data_reference_images.zip
visuals/
test_datasets/

# Files to ignore
public_images.tar
public_images.tar.bz2

 

# Data files
data/
datasets/

# IDE folders
.vscode/
.idea/

# Node.js
node_modules/

# Ignore compiled files
build/
dist/
*.out