# Core Python Libraries
numpy
pandas
scikit-learn
matplotlib
tqdm
validators
python-dotenv
requests
beautifulsoup4
python-dateutil
aiohttp
Pillow
spacy
torch
torchvision
torch-geometric
torchmetrics
transformers
accelerate
sentencepiece
tokenizers
wandb

# Optional Utilities / Common ML
opencv-python
pytesseract

# For data splitting and loading
scikit-learn

# For retrying HTTP requests
urllib3

# Development / Notebook
ipython
